<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}FastAPI with HTMX{% endblock %}
        </title>

        {% block additional_css %}
        {% endblock %}
    </head>
    <body>
        <!-- Header -->
        {% block header %}
            {% include 'shared/fragments/header.html' %}
        {% endblock %}

        <!-- Content -->
        <div class="app-main-content">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="app-footer">
            <div class="app-footer-copyright">
                FastAPI with <a href="https://htmx.org" target="_blank">HTMX</a>
            </div>
        </footer>
        <script src="https://unpkg.com/htmx.org@1.8.5"
                integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
                crossorigin="anonymous">
        </script>
        {% block additional_js %}
        {% endblock %}
    </body>
</html>